body {
background-color: silver;
}
h1 {
font-family: GeorgiaPro;
font-size: 500%;
background: linear-gradient(rgba(140, 0, 50, 0.9), black);
color: transparent;
background-clip: text;
text-align: center;
}
h2 {
text-align: center;
background: linear-gradient(rgba(200,0,100, 0.9), black);
color: transparent;
font-size: 300%;
font-family: GeorgiaPro;
background-clip: text;
}
h3 {

font-family: GeorgiaPro;
font-size: 130%;
}
p {

color: darkred;
font-size: 100%;
font-family: GeorgiaPro;
}
a {

color: black;
text-decoration-line: underline;
}

quiz-container {
background: white;
padding: 2rem;
border-radius: 10px;
box-shadow: 0 4px 6px rgba(0,0,0,0.1);
text-align: center;
width: 300px;
}
button {
padding: 10px 20px;
margin: 10px;
cursor: pointer;
border: none;
border-radius: 5px;
background-color: #007bff;
color: white;
}