body {
background-color: silver;
}
h1 {
font-family: GeorgiaPro;
font-size: 500%;
background: linear-gradient(rgba(140, 0, 50, 0.9), black);
color: transparent;
background-clip: text;
text-align: center;
}
h2 {
text-align: center;
background: linear-gradient(rgba(200,0,100, 0.9), black);
color: transparent;
font-size: 300%;
font-family: GeorgiaPro;
background-clip: text;
}
h3 {

font-family: GeorgiaPro;
font-size: 130%;
}
p {

color: darkred;
font-size: 100%;
font-family: GeorgiaPro;
}
a {

color: black;
text-decoration-line: underline;
}


.memory-game {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
}

.memory-card {
    width: 100px;
    height: 100px;
    margin: 5px;
    position: relative;
}

.memory-card img.front-face {
    display: none;
    width: 100%;
    background: white;
}

.memory-card.flip img.front-face {
    display: block;
}

.memory-card.flip img.back-face {
    display: none;
}