body {
background-color: silver;
}
h1 {
font-family: GeorgiaPro;
font-size: 500%;
background: linear-gradient(rgba(140, 0, 50, 0.9), black);
color: transparent;
background-clip: text;
text-align: center;
}
h2 {
text-align: center;
background: linear-gradient(rgba(200,0,100, 0.9), black);
color: transparent;
font-size: 300%;
font-family: GeorgiaPro;
background-clip: text;
}
h3 {

font-family: GeorgiaPro;
font-size: 130%;
}
p {

color: darkred;
font-size: 100%;
font-family: GeorgiaPro;
}
a {

color: black;
text-decoration-line: underline;
}


.memory-game {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
}

.memory-card {
    width: 100px;
    height: 100px;
    margin: 5px;
    position: relative;
}

.memory-card img.front-face {
    display: none;
    width: 100%;
    background: white;
}

.memory-card.flip img.front-face {
    display: block;
}

.memory-card.flip img.back-face {
    display: none;
}

button {
    background-color: darkred;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    cursor: pointer; 
    display: block;
    margin: 0 auto;
} 

div {

max-width: 300px;
margin: 20px auto; 
font-family: GeoriaPro;
}

textarea {
    width: 100%;
}

.quiz-container {
    background: white;
    padding: 5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
    width: 500px;
} 
