body { font-family: sans-serif; text-align: center; background: #f0e6d2; }

.memory-game {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
}

.memory-card {
    /*width: 100px;
    height: 100px;*/
    margin: 5px;
    background-color: #1c7ccc;
    cursor: pointer;
    position: relative;
}

/* Verstecke die Vorderseite (das Bild) standardmäßig */
.memory-card img.front-face {
    display: none;
    width: 100%;
    background: white;
}

/* Wenn die Karte die Klasse 'flip' hat, zeige das Bild */
.memory-card.flip img.front-face {
    display: block;
}

/* Verstecke die Rückseite, wenn die Karte umgedreht ist */
.memory-card.flip img.back-face {
    display: none;
}